*
{
    margin: 0;
    padding: 0;
}
header
{
    background-color: rgb(51, 48, 48);
    color: white;
    padding-bottom: 20px;
}
header h1
{
    color: rgb(254, 0, 0);
    text-shadow: 0 0 5px rgb(106, 80, 240);
    font-size: 50px;
    font-family: comic sans MS,sans-serif
}
nav
{
    text-align: center;
    background: rgb(32, 32, 54);
    padding: 10px;
}
nav a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    border-radius: 5px;
    font-family: comic sans MS,sans-serif;
}
.active
{
    padding: 5px;
    box-shadow: 0 0 10px black;
}
nav a:hover
{
    background: grey;
    color: black;
    padding: 5px;
    box-shadow: 0 0 10px black;
}
aside
{
    background: black;
    width: 150px;
    height: 575px;
    text-align: center;
    float: left;
}
aside a
{
    text-decoration: none;
    color: white;
    position: relative;
    display: block;
    top: 60px;
    margin-bottom: 100px;
    font-family: comic sans MS,sans-serif;
}
aside a:hover
{
    text-decoration: 2px underline;
}
section
{
    background: rgb(87, 79, 79);
    height: 534px;
    margin-left: 150px;
    padding: 20px;
}
section h1
{
    padding: 20px;
    color: rgb(2, 53, 165);
    text-shadow: 0 0 5px white;
    font-size: 40px;
}
footer
{
    background-color: rgb(15, 14, 14);
    color: white;
    text-align: center;
    padding: 10px;
}
footer a
{
    color: white;
}
iframe
{
    height: 50vh;
    width: 600px;
}